body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.left {
  float: left;
  border: 2px solid #666;
  position: relative;
}

.board-focus {
  background-color: #b4e7ff;
}

.won-X {
  background: rgba(200, 54, 54, 0.5) !important;
}

.won-O {
  background: rgba(400, 54, 54, 0.5) !important;
}

.left:hover .won {
  opacity: 0;
}

.left:hover .won-X, .left:hover .won-O {
  background: inherit !important;
}

.board-focus .won {
  display: none;
}

.won {
  width: 99px;
  height: 99px;
  position: absolute;
  font-size: 90px;
  color: #f3f1f0;
  text-align: center;
  cursor: default;
  opacity: 0.8;
  z-index: 1;
  overflow: hidden;
  font-family: Arial, sans-serif;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.X {
  color: #dc7d18;
}

.O {
  color: #ff1b78;
}

.square {
  background: inherit;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.game-history {
  margin-top: 10px;
  cursor: pointer;
}
