body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-focus {
  background-color: #b4e7ff !important;
}

.status {
  margin-bottom: 10px;
}

.left {
  float: left;
  border: 2px solid #666;
  background-color: #fff
}

.X {
  color: #dc7d18;
}

.O {
  color: #ff1b78;
}

.square {
  background: inherit;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.game-history {
  margin-top: 10px;
  cursor: pointer;
}

.highlight {
  background-color: #ddd;
}

.move-list-item-selected {
  font-weight: bold;
}
